<a href="https://colab.research.google.com/github/Aarthy11/AWS-assignment/blob/main/assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str1 = "Hello"
str2 = "World"
concatenated_string = str1 + " " + str2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello World

In [2]:
# Using the % operator
name = "Alice"
age = 30
formatted_string = "Name: %s, Age: %d" % (name, age)
print("Formatted string (using % operator):", formatted_string)

Formatted string (using % operator): Name: Alice, Age: 30

In [3]:
# Using the format() method
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string (using format() method):", formatted_string)

# Using f-strings (formatted string literals)
formatted_string = f"Name: {name}, Age: {age}"
print("Formatted string (using f-strings):", formatted_string)

# Using template strings
from string import Template
template = Template("Name: name, Age : age")
formatted_string = template.substitute(name=name, age=age)
print("Formatted string (using template strings):", formatted_string)

Formatted string (using format() method): Name: Alice, Age: 30
Formatted string (using f-strings): Name: Alice, Age: 30
Formatted string (using template strings): Name: name, Age : age

In [4]:
# Addition
result_add = 5 + 3
print("Addition result:", result_add)
# Subtraction
result_sub = 7 - 2
print("Subtraction result:", result_sub)

# Multiplication
result_mul = 4 * 6
print("Multiplication result:", result_mul)

# Division
result_div = 10 / 2
print("Division result:", result_div)

# Exponentiation
result_exp = 2 ** 3
print("Exponentiation result:", result_exp)

# Modulus
result_mod = 15 % 4
print("Modulus result:", result_mod)
# Example for -= (Subtraction assignment)
x = 10
x -= 3  # Equivalent to x = x - 3
print("After subtraction assignment:", x)

# Example for *= (Multiplication assignment)
y = 5
y *= 2  # Equivalent to y = y * 2
print("After multiplication assignment:", y)

# Example for /= (Division assignment)
z = 20
z /= 4  # Equivalent to z = z / 4
print("After division assignment:", z)

Addition result: 8
Subtraction result: 5
Multiplication result: 24
Division result: 5.0
Exponentiation result: 8
Modulus result: 3
After subtraction assignment: 7
After multiplication assignment: 10
After division assignment: 5.0